<h5>Supporting Documents</h5>
  <div class="row pb-4">
    <div class="col-sm-12 col-md-3">
      <label>File Name</label>
      <input class="form-control"  name="description" />
    </div>
    <div class="col-sm-12 col-md-3">
        <label>File Description</label>
        <input class="form-control"  name="description" />
      </div>
    <div class="col-sm-12 col-md-3">
        <label>File</label>
        <input class="form-control" style="padding-top:5px;padding-bottom:5px;" type="file"  name="description" />
    </div>
    <div class="col-sm-12 col-md-3">
        <button class="btn btn-primary" style="margin-top:32px;">Add</button>
    </div>
  </div>
  <table class="table table-bordered">
      <thead>
        <tr>
          <th>File Name</th>
          <th>File Description</th>
          <th>File Content Type</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            I123
          </td>
          <td>
            Description
          </td>
          <td>
            content type
          </td>
          <td>
            <span class="fa fa-trash btn btn-sm btn-outline-danger"></span><span class="fa fa-download"></span>
          </td>
        </tr>
      </tbody>
    </table>