<div class="tab-content">
  <h5>Service Details</h5>
  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Service ID</label>
      <input class="form-control" [(ngModel)]="policy.buildingId" name="description" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Company Name</label>
      <input class="form-control" [(ngModel)]="policy.buildingId" name="description" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Company Phone</label>
      <input class="form-control" [(ngModel)]="policy.buildingId" name="description" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Company Email</label>
      <input class="form-control" [(ngModel)]="policy.buildingId" name="description" />
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-sm-12">
      <label>Company Description</label>
      <textarea class="form-control" [(ngModel)]="policy.buildingId" name="description"></textarea>
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Company Contact Person</label>
      <input class="form-control" [(ngModel)]="policy.buildingId" name="description" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Service Due Date</label>
      <input class="form-control" [(ngModel)]="policy.buildingId" name="description" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Service Done By</label>
      <input class="form-control" [(ngModel)]="policy.buildingId" name="description" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Service Done Date Time</label>
      <input class="form-control" [(ngModel)]="policy.buildingId" name="description" />
    </div>
  </div>





  <div class="row pb-2">
    <div class="col-sm-12 col-md-4">
      <label>Service Amount</label>
      <input class="form-control" [(ngModel)]="policy.buildingId" name="description" />
    </div>
    <div class="col-sm-12 col-md-4">
      <label>Service Duration</label>
      <input class="form-control" [(ngModel)]="policy.buildingId" name="description" />
    </div>
    <div class="col-sm-12 col-md-4">
      <label>Next Service Date</label>
      <input class="form-control" [(ngModel)]="policy.buildingId" name="description" />
    </div>
  </div>


  <div class="row pb-2">
    <div class="col-sm-12">
      <label>Comments</label>
      <textarea class="form-control" [(ngModel)]="policy.buildingId" name="description"></textarea>
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-6">
      <button class="btn btn-primary">Save</button>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-success float-right">Lookup</button>
    </div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Service #</th>
        <th>Due Date</th>
        <th>Done By</th>
        <th>Done Date</th>
        <th>Duration</th>
        <th>Amount</th>
        <th>Next Service Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          I123
        </td>
        <td>
          Due Date
        </td>
        <td>
          Done by
        </td>
        <td>
          Done Date
        </td>
        <td>
          Duration
        </td>
        <td>
          Amount
        </td>
        <td>
          Next Service Date
        </td>
        <td>
          <span class="fa fa-trash"></span>
        </td>
      </tr>
    </tbody>
  </table>
  <app-supporting-documents></app-supporting-documents>
</div>