<div class="tab-content">
  <h5>Service Details</h5>
  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Service #</label>
      <input class="form-control" [(ngModel)]="service.serviceNumber" name="serviceNumber" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Company Name</label>
      <input class="form-control" [(ngModel)]="service.serviceCompanyName" name="serviceCompanyName" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Company Phone</label>
      <input class="form-control" [(ngModel)]="service.serviceCompanyPhone" name="serviceCompanyPhone" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Company Email</label>
      <input class="form-control" [(ngModel)]="service.serviceCompanyEmail" name="serviceCompanyEmail" />
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-sm-12">
      <label>Company Description</label>
      <textarea class="form-control" [(ngModel)]="service.serviceCompanyDescription" name="serviceCompanyDescription"></textarea>
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Company Contact Person</label>
      <input class="form-control" [(ngModel)]="service.serviceCompanyContactPerson" name="serviceCompanyContactPerson" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Service Due Date</label>
      <input class="form-control" [(ngModel)]="service.serviceDueDate" name="serviceDueDate" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Service Done By</label>
      <input class="form-control" [(ngModel)]="service.serviceDoneBy" name="serviceDoneBy" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Service Done Date Time</label>
      <input class="form-control" [(ngModel)]="service.serviceDoneDateTime" name="serviceDoneDateTime" />
    </div>
  </div>





  <div class="row pb-2">
    <div class="col-sm-12 col-md-4">
      <label>Service Amount</label>
      <input class="form-control" [(ngModel)]="service.serviceAmount" name="serviceAmount" />
    </div>
    <div class="col-sm-12 col-md-4">
      <label>Service Duration in hrs</label>
      <input class="form-control" [(ngModel)]="service.serviceDurationInHours" name="serviceDurationInHours" />
    </div>
    <div class="col-sm-12 col-md-4">
      <label>Next Service Date</label>
      <input class="form-control" [(ngModel)]="service.nextServiceDueDate" name="nextServiceDueDate" />
    </div>
  </div>


  <div class="row pb-2">
    <div class="col-sm-12">
      <label>Comments</label>
      <textarea class="form-control" [(ngModel)]="service.comments" name="comments"></textarea>
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-6">
      <button class="btn btn-primary" (click)="save()">Save</button>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-success float-right">Lookup</button>
    </div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Service #</th>
        <th>Due Date</th>
        <th>Done By</th>
        <th>Done Date</th>
        <th>Duration</th>
        <th>Amount</th>
        <th>Next Service Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let service of asset.services">
        <td>
          {{service.serviceNumber}}
        </td>
        <td>
          {{service.serviceDueDate}}
        </td>
        <td>
          {{service.serviceDoneBy}}
        </td>
        <td>
          {{service.serviceDoneDateTime}}
        </td>
        <td>
          {{service.serviceDurationInHours}}
        </td>
        <td>
          {{service.serviceAmount}}
        </td>
        <td>
          {{service.nextServiceDueDate}}
        </td>
        <td>
          <span class="fa fa-pencil btn btn-sm btn-outline-primary" (click)="editService(service)"></span>
          <span class="fa fa-trash btn btn-sm btn-outline-danger" (click)="removeServiceFromAsset(service)"></span>
        </td>
      </tr>
    </tbody>
  </table>
  <app-supporting-documents [docsObject]="service"></app-supporting-documents>
</div>