<div class="tab-content">
  <h5>Policy Details</h5>
  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Policy #</label>
      <input class="form-control" [(ngModel)]="policy.policyNumber" name="policyNumber" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Policy Name</label>
      <input class="form-control" [(ngModel)]="policy.policyName" name="policyName" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Policy Cover Amount</label>
      <input class="form-control" [(ngModel)]="policy.policyCoverAmount" name="policyCoverAmount" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Policy Premium Amount</label>
      <input class="form-control" [(ngModel)]="policy.policyPremiumAmount" name="policyPremiumAmount" />
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12">
      <label>Policy Description</label>
      <textarea class="form-control" [(ngModel)]="policy.policyDescription" name="policyDescription"></textarea>
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Policy Start Date Time</label>
      <input class="form-control" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1"
      [(ngModel)]="policy.policyStartDateTime" name="policyStartDateTime" />
      <owl-date-time [pickerType]="'both'" [showSecondsTimer]="true" #dt1></owl-date-time>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Policy End Date Time</label>
      <input class="form-control" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2"
      [(ngModel)]="policy.policyEndDateTime" name="policyEndDateTime" />
      <owl-date-time [pickerType]="'both'" [showSecondsTimer]="true" #dt2></owl-date-time>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Grace Date Time</label>
      <input class="form-control" [owlDateTime]="dt3" [owlDateTimeTrigger]="dt3"
      [(ngModel)]="policy.graceDateTime" name="graceDateTime" />
      <owl-date-time [pickerType]="'both'" [showSecondsTimer]="true" #dt3></owl-date-time>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Grace Period In Months</label>
      <input class="form-control" [(ngModel)]="policy.gracePeriodInMonths" name="gracePeriodInMonths" />
    </div>
  </div>


  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Policy Type</label>
      <select class="form-control" [(ngModel)]="policy.policyType" name="policyType">
        <option value="null"></option>
        <option *ngFor="let type of dropDownsData.policyTypeList" [ngValue]="type">{{type.description}}</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Policy Type Other</label>
      <input class="form-control" [disabled]="!policy.policyType || policy.policyType.id != 'OTHER'" [(ngModel)]="policy.policyTypeOther"
        name="policyTypeOther" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Renewal Type</label>
      <select class="form-control" [(ngModel)]="policy.policyRenewalType" name="policyRenewalType">
        <option value="null"></option>
        <option *ngFor="let renew of dropDownsData.renewalTypeList" [ngValue]="renew">{{renew.description}}</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Policy Renewal Type Other</label>
      <input class="form-control" [disabled]="!policy.policyRenewalType || policy.policyRenewalType.id != 'OTHER'" [(ngModel)]="policy.policyRenewalTypeOther"
        name="policyRenewalTypeOther" />
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Provider Name</label>
      <input class="form-control" [(ngModel)]="policy.providerName" name="providerName" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Provider Phone</label>
      <input class="form-control" [(ngModel)]="policy.providerPhone" name="providerPhone" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Provider Email</label>
      <input class="form-control" [(ngModel)]="policy.providerEmail" name="providerEmail" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Provider Contact Person</label>
      <input class="form-control" [(ngModel)]="policy.providerContactPerson" name="providerContactPerson" />
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-6">
      <label>Provider Description</label>
      <textarea class="form-control" [(ngModel)]="policy.providerDescription" name="providerDescription"></textarea>
    </div>
    <div class="col-sm-12 col-md-6">
      <label>Comments</label>
      <textarea class="form-control" [(ngModel)]="policy.comments" name="comments"></textarea>
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-6">
      <button class="btn btn-primary" (click)="save()">{{editMode?'Update':'Save'}}</button>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-success float-right">Lookup</button>
    </div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Policy #</th>
        <th>Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Cover Amount</th>
        <th>Policy Type</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let policy of asset.insurancePolicies">
        <td>
          {{policy.policyNumber}}
        </td>
        <td>
          {{policy.policyName}}
        </td>
        <td>
          {{policy.policyStartDateTime}}
        </td>
        <td>
          {{policy.policyEndDateTime}}
        </td>
        <td>
          {{policy.policyCoverAmount}}
        </td>
        <td>
          {{policy.policyType?.id}}
        </td>
        <td>
          <span class="fa fa-pencil btn btn-sm btn-outline-primary" (click)="editPolicy(policy)"></span>
          <span class="fa fa-trash btn btn-sm btn-outline-danger" (click)="removePolicyFromAsset(policy)"></span>
        </td>
      </tr>
    </tbody>
  </table>
  <app-supporting-documents [docsObject]="policy" [addTo]="'policy'"></app-supporting-documents>
</div>