<div class="row pb-3">
  <div class="col-md-12">
    <h4>
      <span class="fa fa-asset"></span> Add Asset</h4>
  </div>
</div>
<ul class="row nav nav-tabs mb-2">
  <li class="nav-item" (click)="changeTab(tab)" *ngFor="let tab of tabs">
    <a class="nav-link" [ngClass]="{'active': currentTab == tab}">{{tab.name}}</a>
  </li>
</ul>
<div class="tab-content" *ngIf="currentTab.tab == 1">
  <h5>Asset Details</h5>
  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Asset ID</label>
      <input class="form-control" [(ngModel)]="asset.assetId" name="assetid" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Asset Name</label>
      <input class="form-control" [(ngModel)]="asset.name" name="assetname" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Asset Description</label>
      <input class="form-control" [(ngModel)]="asset.floor" name="floor" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Asset Tag</label>
      <input class="form-control" [(ngModel)]="asset.floor" name="floor" />
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Asset Category</label>
      <select class="form-control">
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Organization</label>
      <select class="form-control">
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Department</label>
      <select class="form-control">
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Asset Cost</label>
      <input class="form-control" [(ngModel)]="asset.assetId" name="assetid" />
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Length</label>
      <input class="form-control" [(ngModel)]="asset.assetId" name="assetid" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Height</label>
      <input class="form-control" [(ngModel)]="asset.name" name="assetname" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Width</label>
      <input class="form-control" [(ngModel)]="asset.floor" name="floor" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Weight</label>
      <input class="form-control" [(ngModel)]="asset.floor" name="floor" />
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Quantity</label>
      <input class="form-control" [(ngModel)]="asset.assetId" name="assetid" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Serial #</label>
      <input class="form-control" [(ngModel)]="asset.name" name="assetname" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Make</label>
      <input class="form-control" [(ngModel)]="asset.floor" name="floor" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Model</label>
      <input class="form-control" [(ngModel)]="asset.floor" name="floor" />
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Purchase Date</label>
      <input class="form-control" [(ngModel)]="asset.assetId" name="assetid" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Company Name</label>
      <input class="form-control" [(ngModel)]="asset.name" name="assetname" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Company Phone</label>
      <input class="form-control" [(ngModel)]="asset.floor" name="floor" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Company Email</label>
      <input class="form-control" [(ngModel)]="asset.floor" name="floor" />
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Company Contact Person</label>
      <input class="form-control" [(ngModel)]="asset.assetId" name="assetid" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Order #</label>
      <input class="form-control" [(ngModel)]="asset.name" name="assetname" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Invoice #</label>
      <input class="form-control" [(ngModel)]="asset.floor" name="floor" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Company Email</label>
      <input class="form-control" [(ngModel)]="asset.floor" name="floor" />
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12">
      <label>Purchase Comments</label>
      <textarea class="form-control" [(ngModel)]="asset.floor" name="floor"></textarea>
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-4">
      <label>Asset Returned</label>
      <select class="form-control">
          <option value="Y">Yes</option>
          <option value="N">No</option>
        </select>
    </div>
    <div class="col-sm-12 col-md-4">
      <label>Return Date</label>
      <input class="form-control" [(ngModel)]="asset.name" name="assetname" />
    </div>
    <div class="col-sm-12 col-md-4">
      <label>Refund Amount</label>
      <input class="form-control" [(ngModel)]="asset.floor" name="floor" />
    </div>
  </div>
  
  <div class="row pb-2">
    <div class="col-sm-12 col-md-6">
      <label>Return Reason</label>
      <textarea class="form-control" [(ngModel)]="asset.floor" name="floor"></textarea>
    </div>
    <div class="col-sm-12 col-md-6">
      <label>Asset Damage Description</label>
      <textarea class="form-control" [(ngModel)]="asset.floor" name="floor"></textarea>
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-4">
      <label>Regulatory Compliance</label>
      <select class="form-control">
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-4">
      <label>Regulatory Authority</label>
      <input class="form-control" [(ngModel)]="building.buildingId" name="description" />
    </div>
    <div class="col-sm-12 col-md-4">
      <label>Compliance Obtained Date</label>
      <input class="form-control" [(ngModel)]="building.buildingId" name="description" />
    </div>
  </div>



  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Fire Exits</label>
      <select class="form-control">
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Fire Exit Location</label>
      <input class="form-control" [(ngModel)]="building.buildingId" name="description" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Fire Extinguisher</label>
      <input class="form-control" [(ngModel)]="building.buildingId" name="description" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Fire Extinguisher Location</label>
      <input class="form-control" [(ngModel)]="building.buildingId" name="description" />
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Annual Maintenance Contract</label>
      <select class="form-control">
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Inspection</label>
      <select class="form-control">
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>License</label>
      <select class="form-control">
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Loan</label>
      <select class="form-control">
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Policy</label>
      <select class="form-control">
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Rental/Lease</label>
      <select class="form-control">
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Service</label>
      <select class="form-control">
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Warranty</label>
      <select class="form-control">
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-6">
      <label>Asset Condition</label>
      <select class="form-control">
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-6">
      <label>If Other Specify</label>
      <input class="form-control" [(ngModel)]="building.buildingId" name="description" />
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-6">
      <label>Asset Status</label>
      <select class="form-control">
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-6">
      <label>If Other Specify</label>
      <input class="form-control" [(ngModel)]="building.buildingId" name="description" />
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-sm-12 col-md-6">
      <label>Asset Type</label>
      <select class="form-control">
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-6">
      <label>If Other Specify</label>
      <input class="form-control" [(ngModel)]="building.buildingId" name="description" />
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-sm-12">
      Assigned To:
      <button class="btn btn-primary">Lookup</button>
    </div>
  </div>

  <table class="table table-bordered">
    <thead>
      <th>
        Name
      </th>
      <th>
        Phone
      </th>
      <th>
        Email
      </th>
      <th></th>
    </thead>
    <tbody>
      <td>Karthik</td>
      <td>125-365-9874
      </td>
      <td>karthik@i2g.com
      </td>
      <td>
        <span class="fa fa-trash"></span>
      </td>
    </tbody>
  </table>
  <div class="row pb-2">
    <div class="col-sm-12">
      <label>Notes</label>
      <textarea class="form-control"></textarea>
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-sm-12">
      <button class="btn btn-primary">Save</button>
      <button class="btn btn-success float-right">Next</button>
    </div>
  </div>
</div>
<app-maintenance *ngIf="currentTab.tab==2"></app-maintenance>
<app-inspection *ngIf="currentTab.tab==3"></app-inspection>
<app-license *ngIf="currentTab.tab==4"></app-license>
<app-loan *ngIf="currentTab.tab==5"></app-loan>
<app-policy *ngIf="currentTab.tab==6"></app-policy>
<app-rent-or-lease *ngIf="currentTab.tab==7"></app-rent-or-lease>
<app-service *ngIf="currentTab.tab==8"></app-service>
<app-warranty *ngIf="currentTab.tab==9"></app-warranty>
<app-supporting-documents *ngIf="currentTab.tab==10"></app-supporting-documents>