<div class="tab-content">
  <h5>License Details</h5>
  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>License Number</label>
      <input class="form-control" [(ngModel)]="license.licenseNumber" name="licenseNumber" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>License Holder Name</label>
      <input class="form-control" [(ngModel)]="license.licenseHolderName" name="licenseHolderName" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>License Holder Company</label>
      <input class="form-control" [(ngModel)]="license.licenseHoldingCompany" name="licenseHoldingCompany" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>License Holder Email</label>
      <input class="form-control" [(ngModel)]="license.licenseHolderEmail" name="licenseHolderEmail" />
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>License Holder Phone</label>
      <input class="form-control" [(ngModel)]="license.licenseHolderPhone" name="licenseHolderPhone" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Provided By</label>
      <input class="form-control" [(ngModel)]="license.licenseProvidedBy" name="licenseProvidedBy" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Provider Phone</label>
      <input class="form-control" [(ngModel)]="license.licenseProviderPhone" name="licenseProviderPhone" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Provider Email</label>
      <input class="form-control" [(ngModel)]="license.licenseProviderEmail" name="licenseProviderEmail" />
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-sm-12 col-md-6">
      <label>License Holder Company Description</label>
      <textarea class="form-control" [(ngModel)]="license.licenseHolderDescription" name="licenseHolderDescription"></textarea>
    </div>
    <div class="col-sm-12 col-md-6">
      <label>Provider Description</label>
      <textarea class="form-control" [(ngModel)]="license.licenseProviderDescription" name="licenseProviderDescription"></textarea>
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Providing Authority</label>
      <input class="form-control" [(ngModel)]="license.licenseProvidingAuthority" name="licenseProvidingAuthority" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Issued Date</label>
      <input class="form-control" [(ngModel)]="license.issuedDate" name="issuedDate" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Place Of Issue</label>
      <input class="form-control" [(ngModel)]="license.placeIssued" name="placeIssued" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Renewal Date</label>
      <input class="form-control" [(ngModel)]="license.renewalDate" name="renewalDate" />
    </div>
  </div>


  <div class="row pb-2">
    <div class="col-sm-12 col-md-4">
      <label>Start Date Time</label>
      <input class="form-control" [(ngModel)]="license.startDateTime" name="startDateTime" />
    </div>
    <div class="col-sm-12 col-md-4">
      <label>End Date Time</label>
      <input class="form-control" [(ngModel)]="license.endDateTime" name="endDateTime" />
    </div>
    <div class="col-sm-12 col-md-4">
      <label>Grace Date Time</label>
      <input class="form-control" [(ngModel)]="license.graceDateTime" name="graceDateTime" />
    </div>
  </div>

  <div class="row pb-2">
      <div class="col-sm-12 col-md-4">
        <label>Grace Period In Months</label>
        <input class="form-control" [(ngModel)]="license.gracePeriodInMonths" name="gracePeriodInMonths" />
      </div>
      <div class="col-sm-12 col-md-4">
        <label>License Amount</label>
        <input class="form-control" [(ngModel)]="license.licenseAmount" name="licenseAmount" />
      </div>
      <div class="col-sm-12 col-md-4">
        <label>Renewal Amount</label>
        <input class="form-control" [(ngModel)]="license.renewalAmount" name="renewalAmount" />
      </div>
    </div>

  <div class="row pb-2">
    <div class="col-sm-12">
      <label>Comments</label>
      <textarea class="form-control" [(ngModel)]="license.comments" name="comments"></textarea>
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-6">
      <button class="btn btn-primary" (click)="save()">Save</button>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-success float-right">Lookup</button>
    </div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>License #</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Renewal Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>License #</td>
        <td>Start Date</td>
        <td>End Date</td>
        <td>Renewal Date</td>
        <td>
          <span class="fa fa-trash"></span>
        </td>
      </tr>
    </tbody>
  </table>
  <app-supporting-documents></app-supporting-documents>
</div>