<div class="tab-content">
  <h5>Warranty Details</h5>
  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Warranty #</label>
      <input class="form-control" [(ngModel)]="warranty.warrantyNumber" name="warrantyNumber" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Warranty Name</label>
      <input class="form-control" [(ngModel)]="warranty.warrantyName" name="warrantyName" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Provided By</label>
      <input class="form-control" [(ngModel)]="warranty.warrantyProvidedBy" name="warrantyProvidedBy" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Provider Phone</label>
      <input class="form-control" [(ngModel)]="warranty.warrantyProviderPhone" name="warrantyProviderPhone" />
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-6">
      <label>Warranty Description</label>
      <textarea class="form-control" [(ngModel)]="warranty.warrantyDescription" name="warrantyDescription"></textarea>
    </div>
    <div class="col-sm-12 col-md-6">
      <label>Provider Description</label>
      <textarea class="form-control" [(ngModel)]="warranty.warrantyProviderDescription" name="warrantyProviderDescription"></textarea>
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Provider Email</label>
      <input class="form-control" [(ngModel)]="warranty.warrantyProviderEmail" name="warrantyProviderEmail" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Provider Contact Person</label>
      <input class="form-control" [(ngModel)]="warranty.warrantyProviderContactPerson" name="warrantyProviderContactPerson" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Provided Date</label>
      <input class="form-control" [(ngModel)]="warranty.warrantyProvidedDate" name="warrantyProvidedDate" />
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Start Date Time</label>
      <input class="form-control" [(ngModel)]="warranty.warrantyStartDateTime" name="warrantyStartDateTime" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>End Date Time</label>
      <input class="form-control" [(ngModel)]="warranty.warrantyEndDateTime" name="warrantyEndDateTime" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Grace Date Time</label>
      <input class="form-control" [(ngModel)]="warranty.warrantyGraceDateTime" name="warrantyGraceDateTime" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Grace Period In Months</label>
      <input class="form-control" [(ngModel)]="warranty.gracePeriodInMonths" name="gracePeriodInMonths" />
    </div>
  </div>


  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Amount</label>
      <input class="form-control" [(ngModel)]="warranty.warrantyAmount" name="warrantyAmount" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Renewal Date</label>
      <input class="form-control" [(ngModel)]="warranty.warrantyRenewalDate" name="warrantyRenewalDate" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Renewal Amount</label>
      <input class="form-control" [(ngModel)]="warranty.warrantyRenewalAmount" name="warrantyRenewalAmount" />
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12">
      <label>Comments</label>
      <textarea class="form-control" [(ngModel)]="warranty.comments" name="comments"></textarea>
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-sm-6">
      <button class="btn btn-primary" (click)="save()">Save</button>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-success float-right btn-sm">Lookup</button>
    </div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Warranty #</th>
        <th>Provided By</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Amount</th>
        <th>Renewal Date</th>
        <th>Renewal Amount</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let warranty of asset.warrantyAgreements">
        <td>
          {{warranty.warrantyNumber}}
        </td>
        <td>
          {{warranty.warrantyName}}
        </td>
        <td>
          {{warranty.warrantyStartDateTime}}
        </td>
        <td>
          {{warranty.warrantyEndDateTime}}
        </td>
        <td>
          {{warranty.warrantyAmount}}
        </td>
        <td>
          {{warranty.warrantyRenewalDate}}
        </td>
        <td>
          {{warranty.warrantyRenewalAmount}}
        </td>
        <td>
          <span class="fa fa-pencil btn btn-sm btn-outline-primary" (click)="editWarranty(warranty)"></span>
          <span class="fa fa-trash btn btn-sm btn-outline-danger" (click)="removeWarrantyFromAsset(warranty)"></span>
        </td>
      </tr>
    </tbody>
  </table>
  <app-supporting-documents [docsObject]="warranty"></app-supporting-documents>
</div>