<app-header></app-header>
<div class="row">
  <div class="col-md-2 pl-0 pr-0">
    <app-side-nav></app-side-nav>
  </div>
  <div class="col-md-10">
    <div class="row content">
      <div class="col-sm-6 text-center">
          <a href="#"><img src="../../assets/images/logo@1x.png" alt="gotorisk.co.uk" /></a>
      </div>
      <div class="col-sm-6 text-center">
          <a href="#"><img src="../../assets/images/logo@1x.png" alt="gotorisk.co.uk" /></a>
      </div>
      <div class="col-sm-6 text-center">
          <a href="#"><img src="../../assets/images/logo@1x.png" alt="gotorisk.co.uk" /></a>
      </div>
      <div class="col-sm-6 text-center">
          <a href="#"><img src="../../assets/images/logo@1x.png" alt="gotorisk.co.uk" /></a>
      </div>
    </div>
  </div>
</div>