<div class="tab-content">
  <h5>Rent/Lease Details</h5>
  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Agreement ID</label>
      <input class="form-control" [(ngModel)]="rent.agreementId" name="agreementId" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Agreement Name</label>
      <input class="form-control" [(ngModel)]="rent.agreementName" name="agreementName" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Company Name</label>
      <input class="form-control" [(ngModel)]="rent.companyName" name="companyName" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Company Phone</label>
      <input class="form-control" [(ngModel)]="rent.companyPhone" name="companyPhone" />
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-sm-12 col-md-6">
      <label>Rental or Lease Type</label>
      <select class="form-control" [(ngModel)]="rent.rentalOrLeaseType" name="rentalOrLeaseType">
        <option *ngFor="let type of dropDownsData.rentOrLeaseTypeList" [ngValue]="type">{{type.description}}</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-6">
      <label>If Others, Specify</label>
      <input disabled class="form-control" [(ngModel)]="rent.rentalOrLeaseTypeOther" name="rentalOrLeaseTypeOther" />
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-6">
      <label>Agreement Description</label>
      <textarea class="form-control" [(ngModel)]="rent.agreementDescription" name="agreementDescription"></textarea>
    </div>
    <div class="col-sm-12 col-md-6">
      <label>Company Description</label>
      <textarea class="form-control" [(ngModel)]="rent.companyDescription" name="companyDescription"></textarea>
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Company Email</label>
      <input class="form-control" [(ngModel)]="rent.companyName" name="companyName" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Contact Person Name</label>
      <input class="form-control" [(ngModel)]="rent.companyContactPerson" name="companyContactPerson" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Start Date Time</label>
      <input class="form-control" [(ngModel)]="rent.startDateTime" name="startDateTime" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>End Date Time</label>
      <input class="form-control" [(ngModel)]="rent.endDateTime" name="endDateTime" />
    </div>
  </div>


  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Amount</label>
      <input class="form-control" [(ngModel)]="rent.agreementAmount" name="agreementAmount" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Renewal Amount</label>
      <input class="form-control" [(ngModel)]="rent.renewalAmount" name="renewalAmount" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Grace Date Time</label>
      <input class="form-control" [(ngModel)]="rent.graceDateTime" name="graceDateTime" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Grace Period In Months</label>
      <input class="form-control" [(ngModel)]="rent.gracePeriodInMonths" name="gracePeriodInMonths" />
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-sm-12">
      <label>Comments</label>
      <textarea class="form-control" [(ngModel)]="rent.comments" name="comments"></textarea>
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-sm-6">
      <button class="btn btn-primary" (click)="save()">Save</button>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-success float-right">Lookup</button>
    </div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Agreement ID</th>
        <th>Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Amount</th>
        <th>Rental/Lease Type</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rol of asset.rentalOrLeaseAgreements">
        <td>
          {{rol.agreementId}}
        </td>
        <td>
          {{rol.agreementName}}
        </td>
        <td>
          {{rol.startDateTime}}
        </td>
        <td>
          {{rol.endDateTime}}
        </td>
        <td>
          {{rol.agreementAmount}}
        </td>
        <td>
          {{rol.rentalOrLeaseType?.description}}
        </td>
        <td>
          <span class="fa fa-pencil btn btn-sm btn-outline-primary" (click)="editRentOrLease(rol)"></span>
          <span class="fa fa-trash btn btn-sm btn-outline-dangerr" (click)="removeRentOrLeaseFromAsset(rol)"></span>
        </td>
      </tr>
    </tbody>
  </table>
  <app-supporting-documents [docsObject]="rent"></app-supporting-documents>
</div>