@import './../../../_common';

.header {
        border-bottom: 4px solid $amsColor;
        background-color: #fff;
        height: 100px;
        .logo img {
                margin-top: 10px;
                width: 96px;
            }
    }