<div class="tab-content">
  <h5>Annual Maintenance Contract Details</h5>
  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Agreement ID</label>
      <input class="form-control" [(ngModel)]="maintenance.agreementId" name="agreementId" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Agreement Name</label>
      <input class="form-control" [(ngModel)]="maintenance.agreementName" name="agreementName" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Company Name</label>
      <input class="form-control" [(ngModel)]="maintenance.companyName" name="companyName" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Company Phone</label>
      <input class="form-control" [(ngModel)]="maintenance.companyPhone" name="companyPhone" />
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-6">
      <label>Agreement Description</label>
      <textarea class="form-control" [(ngModel)]="maintenance.agreementDescription" name="agreementDescription"></textarea>
    </div>
    <div class="col-sm-12 col-md-6">
      <label>Company Description</label>
      <textarea class="form-control" [(ngModel)]="maintenance.companyDescription" name="companyDescription"></textarea>
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Company Email</label>
      <input class="form-control" [(ngModel)]="maintenance.companyEmail" name="companyEmail" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Contact Person Name</label>
      <input class="form-control" [(ngModel)]="maintenance.companyContactPerson" name="companyContactPerson" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Start Date Time</label>
      <input class="form-control" [(ngModel)]="maintenance.startDateTime" name="startDateTime" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>End Date Time</label>
      <input class="form-control" [(ngModel)]="maintenance.endDateTime" name="endDateTime" />
    </div>
  </div>


  <div class="row pb-2">
    <div class="col-sm-12 col-md-4">
      <label>Amount</label>
      <input class="form-control" [(ngModel)]="maintenance.amcAmount" name="amcAmount" />
    </div>
    <div class="col-sm-12 col-md-4">
      <label>Grace Date Time</label>
      <input class="form-control" [(ngModel)]="maintenance.graceDateTime" name="graceDateTime" />
    </div>
    <div class="col-sm-12 col-md-4">
      <label>Grace Period In Months</label>
      <input class="form-control" [(ngModel)]="maintenance.gracePeriodInMonths" name="gracePeriodInMonths" />
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-sm-12">
      <label>Comments</label>
      <textarea class="form-control" [(ngModel)]="maintenance.comments" name="comments"></textarea>
    </div>
  </div>
  <div class="row pb-2">
      <div class="col-sm-6">
        <button class="btn btn-primary btn-sm" (click)="save()">Save</button>
      </div>
      <div class="col-sm-6">
        <button class="btn btn-success float-right btn-sm">Lookup</button>
      </div>
    </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Amount</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let amc of asset.annualMaintenanceContracts">
        <td>
          {{amc.agreementId}}
        </td>
        <td>
          {{amc.agreementName}}
        </td>
        <td>
          {{amc.startDateTime}}
        </td>
        <td>
          {{amc.endDateTime}}
        </td>
        <td>
          {{amc.amcAmount}}
        </td>
        <td>
            <span class="fa fa-pencil btn btn-sm btn-outline-primary" (click)="editMaintenance(amc)"></span><span class="fa fa-trash btn btn-sm btn-outline-danger" (click)="removeMaintenanceFromAsset(amc)"></span>
        </td>
      </tr>
    </tbody>
  </table>
  <app-supporting-documents [docsObject]="maintenance" [addTo]="'amc'"></app-supporting-documents>
</div>