<div class="row">
  <div class="col-md-6">
    <h4><span class="fa fa-bus"></span> Vehicles | <button class="btn btn-info btn-sm" [routerLink]="'add-vehicle'"><span class="fa fa-plus"></span> Add</button>
      <button class="btn btn-danger btn-sm">
          <span class="fa fa-trash"></span> Delete</button>
    </h4>
  </div>
  <div class="col-md-6">
    <button class="btn btn-info btn-sm float-right ml-2"><span class="fa fa-search"></span> Advance Search</button>
    <div class="input-group search float-right">
        <input class="form-control form-control-sm " placeholder="Search"/>
        <span class="input-group-addon"><span class="fa fa-search"></span></span>
      </div>
  </div>
</div>
<table class="table table-bordered">
  <thead>
    <th>
      Vehicle Reg #
    </th>
    <th>
      Make
    </th>
    <th>
      Model
    </th>
    <th>
      Engine #
    </th>
    <th>
      Chasis #
    </th>
    <th>
      AMC
    </th>
    <th>
      Inspection
    </th>
    <th>
      License
    </th>
    <th>
      Loan
    </th>
    <th>
      Policy
    </th>
    <th>
      Rental/Lease
    </th>
    <th>
      Service
    </th>
    <th>
      Warranty
    </th>
  </thead>
  <tbody>
    <tr *ngFor="let vehicle of vehicleList;">
      <td>
        <a [routerLink]="['edit-vehicle', vehicle.id]">{{vehicle.vehicleRegistrationId}}</a>
      </td>
      <td>
        {{vehicle.assettype?.make}}
      </td>
      <td>
        {{vehicle.assettype?.model}}
      </td>
      <td>
        {{vehicle.assettype?.engineNumber}}
      </td>
      <td>
        {{vehicle.assettype?.chasisNumber}}
      </td>
      <td>
        {{vehicle.amcPresent}}
      </td>
      <td>
        {{vehicle.inspectionPresent}}
      </td>
      <td>
        {{vehicle.licensePresent}}
      </td>
      <td>
        {{vehicle.loanPresent}}
      </td>
      <td>
        {{vehicle.insurancePresent}}
      </td>
      <td>
        {{vehicle.rentOrLeasePresent}}
      </td>
      <td>
        {{vehicle.servicePresent}}
      </td>
      <td>
        {{vehicle.warrantyPresent}}
      </td>
    </tr>
  </tbody>
</table>
<ng-pagination *ngIf="itemsCount" [position]="'left'" [pageSize]="pageSize" [itemsCount]="itemsCount" (getPageData)="getPageData($event)"></ng-pagination>