<div class="tab-content">
  <h5>Loan Details</h5>
  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Agreement ID</label>
      <input class="form-control" [(ngModel)]="loan.agreementId" name="agreementId" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Agreement Name</label>
      <input class="form-control" [(ngModel)]="loan.agreementName" name="agreementName" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Company Name</label>
      <input class="form-control" [(ngModel)]="loan.companyName" name="companyName" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Company Phone</label>
      <input class="form-control" [(ngModel)]="loan.companyPhone" name="companyPhone" />
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-6">
      <label>Agreement Description</label>
      <textarea class="form-control" [(ngModel)]="loan.agreementDescription" name="agreementDescription"></textarea>
    </div>
    <div class="col-sm-12 col-md-6">
      <label>Company Description</label>
      <textarea class="form-control" [(ngModel)]="loan.companyDescription" name="companyDescription"></textarea>
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Company Email</label>
      <input class="form-control" [(ngModel)]="loan.companyEmail" name="companyEmail" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Contact Person Name</label>
      <input class="form-control" [(ngModel)]="loan.companyContactPerson" name="companyContactPerson" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Start Date Time</label>
      <input class="form-control" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1"
       [(ngModel)]="loan.startDateTime" name="startDateTime" />
      <owl-date-time [pickerType]="'both'" [showSecondsTimer]="true" #dt1></owl-date-time>  
    </div>
    <div class="col-sm-12 col-md-3">
      <label>End Date Time</label>
      <input class="form-control" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2"
       [(ngModel)]="loan.endDateTime" name="endDateTime" />
      <owl-date-time [pickerType]="'both'"[showSecondsTimer]="true" #dt2></owl-date-time>
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-4">
      <label>Amount</label>
      <input class="form-control" [(ngModel)]="loan.loanAmount" name="loanAmount" />
    </div>
    <div class="col-sm-12 col-md-4">
      <label>EMI Amount</label>
      <input class="form-control" [(ngModel)]="loan.loanEmi" name="loanEmi" />
    </div>
    <div class="col-sm-12 col-md-4">
      <label>Interest Rate</label>
      <input class="form-control" [(ngModel)]="loan.interestPercentage" name="interestPercentage" />
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-6">
      <label>Grace Date Time</label>
      <input class="form-control" [owlDateTime]="dt3" [owlDateTimeTrigger]="dt3"
      [(ngModel)]="loan.graceDateTime" name="graceDateTime" />
      <owl-date-time [pickerType]="'both'" [showSecondsTimer]="true" #dt3></owl-date-time>
    </div>
    <div class="col-sm-12 col-md-6">
      <label>Grace Period In Months</label>
      <input class="form-control" [(ngModel)]="loan.gracePeriodInMonths" name="gracePeriodInMonths" />
    </div>
  </div>
  
  <div class="row pb-2">
    <div class="col-sm-12">
      <label>Comments</label>
      <textarea class="form-control" [(ngModel)]="loan.comments" name="comments"></textarea>
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-sm-6">
      <button class="btn btn-primary" (click)="save()">{{editMode?'Update':'Save'}}</button>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-success float-right">Lookup</button>
    </div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Amount</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let loan of asset.loanAgreements">
        <td>
          {{loan.agreementId}}
        </td>
        <td>
          {{loan.agreementName}}
        </td>
        <td>
            {{loan.startDateTime}}
        </td>
        <td>
            {{loan.endDateTime}}
        </td>
        <td>
            {{loan.loanAmount}}
        </td>
        <td>
            <span class="fa fa-pencil btn btn-sm btn-outline-primary"(click)="editLoan(loan)">
            </span><span class="fa fa-trash btn btn-sm btn-outline-danger" (click)="removeLoanFromAsset(loan)"></span>
        </td>
      </tr>
    </tbody>
  </table>
  <app-supporting-documents [docsObject]="loan" [addTo]="'loan'"></app-supporting-documents>
</div>