<div class="row pb-3">
  <div class="col-md-12">
    <h3>
      <span class="fa fa-equipment"></span> Add Equipment</h3>
  </div>
</div>
<ul class="nav nav-tabs mb-2">
  <li class="nav-item" (click)="changeTab(tab)" *ngFor="let tab of tabs">
    <a class="nav-link" [ngClass]="{'active': currentTab == tab}">{{tab.name}}</a>
  </li>
</ul>
<div class="tab-content">
  <h5>Equipment Details</h5>
  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Building ID</label>
      <input class="form-control" [(ngModel)]="equipment.equipmentId" name="equipmentid" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Building Name</label>
      <input class="form-control" [(ngModel)]="equipment.name" name="equipmentname" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>No. Of Floor</label>
      <input class="form-control" [(ngModel)]="equipment.floor" name="floor" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Building Size</label>
      <input class="form-control" [(ngModel)]="equipment.floor" name="floor" />
    </div>
  </div>
  
  
  <div class="row pb-2">
    <div class="col-sm-12 col-md-4">
      <label>Asset Category</label>
      <input class="form-control" [(ngModel)]="equipment.address" name="address" />
    </div>
    <div class="col-sm-12 col-md-4">
      <label>Organization</label>
      <input class="form-control" [(ngModel)]="equipment.departmentName" name="departmentName" />
    </div>
    <div class="col-sm-12 col-md-4">
      <label>Department</label>
      <input class="form-control" [(ngModel)]="equipment.departmentName" name="departmentName" />
    </div>
  </div>
  
  <div class="row pb-2">
    <div class="col-sm-12 col-md-4">
      <label>Regulatory Compliance</label>
      <select class="form-control">
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-4">
      <label>Regulatory Authority</label>
      <input class="form-control" [(ngModel)]="equipment.equipmentId" name="description" />
    </div>
    <div class="col-sm-12 col-md-4">
      <label>Compliance Obtained Date</label>
      <input class="form-control" [(ngModel)]="equipment.equipmentId" name="description" />
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12">
      <label>Building Description</label>
      <textarea class="form-control" [(ngModel)]="equipment.equipmentId" name="description"></textarea>
    </div>
  </div>
</div>