/* You can add global styles to this file, and also import other style files */
@import './_common';
html,body{
        height: 100%;
        width: 100%;
        background-color: #ecedf0;
        overflow: hidden;
}

.container-fluid{
        @extend .zero-padding;
        height: 100%;
}

.content{
        padding-top:15px;
        overflow: auto;
        border-top: 15px solid $amsColor;
}
.table{
        background: white;
}

.row.view{
        @extend .zero-margin;
        height: calc(100% - 100px);
}

h5{
        border-bottom: 2px dotted #2e2e2e;
}
thead{
        background-color: $amsColor;
        color: white;
}

.btn{
        &:hover{
                background-color: $amsColor;
        }
}