/* You can add global styles to this file, and also import other style files */
html,body{
        height: 100%;
        width: 100%;
}

.zero-margin{
        margin: 0 !important;
}

.zero-pading{
        padding: 0 !important;
}